<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대시보드</title>
  <link rel="stylesheet" href="/css/cms/cms_main.css">

</head>
<body>
<div class="wrap">

  <div class="side_bar">
      <div class="logo">
          <img src="">
      </div>
      <div class="profile">
          <img src="">
      </div>
        <ul>
            <li><a>뉴스 룸</a></li>
            <li><a>뉴스 데스크</a></li>
            <li><a>독자투고</a></li>
            <li><a>통계</a></li>
            <li><a>WCMS</a></li>

        </ul>
  </div>

  <div class="dash_board">
    <div class="news_list"></div>
  </div>

  <div class="photo_show"></div>

  <div class="notice"></div>


</div>
</body>
</html>