<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대시보드</title>
    <link rel="stylesheet" href="/css/cms/list.css">
    <link rel="stylesheet" href="/css/cms/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/cms/ManagementPage1.js"></script>


</head>
<body>
<div class="wrap">
    <div th:replace="~{layout/cms/side_menu :: side_menu}"></div>

    <div class="dash_board">
        <p>기사 목록</p>
        <div class="btn_zip">
            <div class="news_reg"><a href="/cms/regist">기사등록</a></div>
        </div>
        <table class="news_list_wrap">
            <thead>
            <tr>
                <th></th>
                <th>제목</th>
                <th>기자명</th>
                <th>작성일시</th>
                <th>상태</th>
                <th>편집</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div class="pagination">
            <button id="prevPage">이전</button>
            <span id="pageInfo"></span>
            <button id="nextPage">다음</button>
        </div>
    </div>

    <div class="session">
        <div class="news_wrap">
            <div class="new_detail">

            </div>
        </div>
    </div>

</body>
</html>