<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>대시보드</title>
  <link rel="stylesheet" href="/css/cms/cms_register.css">
</head>
<body>
<div class="wrap">

  <!-- 사이드바 영역 -->
  <div class="side_bar">
    <div class="logo">
      <img src="/images/logo.png" alt="로고">
    </div>
    <div class="profile">
      <img src="/images/myprofile.png" alt="프로필">
      <div class="user_info">
        <div class="user_id">박미정</div>
        <div class="department">디지털 사업부</div>
      </div>
    </div>
    <ul>
      <li><a href="#">뉴스 룸</a></li>
      <li><a href="#">뉴스 데스크</a></li>
      <li><a href="#">독자 투고</a></li>
      <li><a href="#">통계</a></li>
      <li><a href="#">WCMS</a></li>
    </ul>
  </div>


</div>


</body>
</html>
