<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<footer class="main-footer" th:fragment="footer">
    <div class="footer-content">
        <div class="footer-columns">
            <div class="footer-column">
                <h4>오피니언</h4>
                <ul>
                    <li><a href="#">사설</a></li>
                    <li><a href="#">칼럼</a></li>
                    <li><a href="#">태평로</a></li>
                    <li><a href="#">동서남북</a></li>
                    <li><a href="#">경제포커스</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>정치</h4>
                <ul>
                    <li><a href="#">정치 일반</a></li>
                    <li><a href="#">대통령실</a></li>
                    <li><a href="#">국회 / 정당</a></li>
                    <li><a href="#">북한</a></li>
                    <li><a href="#">외교 / 국방</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>사회</h4>
                <ul>
                    <li><a href="#">사회 일반</a></li>
                    <li><a href="#">사건사고</a></li>
                    <li><a href="#">법조</a></li>
                    <li><a href="#">교육</a></li>
                    <li><a href="#">교통 / 환경</a></li>
                    <li><a href="#">복지 / 의료</a></li>
                    <li><a href="#">취업</a></li>
                    <li><a href="#">피플</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>경제</h4>
                <ul>
                    <li><a href="#">WEEKLY BIZ</a></li>
                    <li><a href="#">테크</a></li>
                    <li><a href="#">과학</a></li>
                    <li><a href="#">산업 / 재계</a></li>
                    <li><a href="#">부동산</a></li>
                    <li><a href="#">재테크</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>문화</h4>
                <ul>
                    <li><a href="#">문화 일반</a></li>
                    <li><a href="#">책</a></li>
                    <li><a href="#">영화</a></li>
                    <li><a href="#">음악</a></li>
                    <li><a href="#">공연</a></li>
                    <li><a href="#">미술 / 전시</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>연예</h4>
                <ul>
                    <li><a href="#">연예 일반</a></li>
                    <li><a href="#">스타</a></li>
                    <li><a href="#">방송 / 미디어</a></li>
                    <li><a href="#">영화 소식</a></li>
                    <li><a href="#">음악</a></li>
                    <li><a href="#">연예 포토</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>스포츠</h4>
                <ul>
                    <li><a href="#">스포츠 일반</a></li>
                    <li><a href="#">야구</a></li>
                    <li><a href="#">축구</a></li>
                    <li><a href="#">농구</a></li>
                    <li><a href="#">골프</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>조선Next</h4>
                <ul>
                    <li><a href="#">구독 신청</a></li>
                    <li><a href="#">조선멤버스</a></li>
                    <li><a href="#">오늘의 운세</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2025 ChosunMedia. All rights reserved.</p>
            <p>서울특별시 중구 세종대로12길 30, 서울 (태평로2가) | 대표전화: 02-724-5114</p>
        </div>
    </div>
</footer>
</body>
</html>