<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css"> <!-- 푸터 전용 스타일 적용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- Header Fragment Include -->
    <div th:replace="layout/header :: header"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- 이 섹션 안에 추가 하시면 됩니다. -->
    </div>

    <!-- Footer Fragment Include -->
    <div th:replace="layout/footer :: footer"></div>

</body>
</html>