<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 스타일 적용 -->
    <link rel="stylesheet" href="/css/board/write.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/axios.js"></script>
</head>
<body>
<!-- Header Fragment Include -->
<div th:replace="layout/header :: header"></div>

<!-- Main Content -->
<div class="main-content">
    <!-- 이 섹션 안에 추가 하시면 됩니다. -->

    <div class="form-wrapper">
        <h1 class="page-title">게시글 수정</h1>

        <!-- 제목 입력 필드 -->
        <label for="title">제목</label>
        <input type="text" id="title" class="input-field" name="title" placeholder="제목을 입력하세요.">

        <!-- 사용자 아이디 (hidden) -->
        <input type="hidden" id="instId" name="instId" th:value="${session.user.username}">

        <!-- 내용 입력 필드 (Toast UI Editor) -->
        <label for="editor">내용</label>
        <div id="editor" class="editor-wrapper" style="height: 500px;"></div>

        <!-- 기존 이미지 미리보기 및 삭제 영역 -->
        <label for="fileList">기존 이미지</label>
        <div id="fileList" class="file-list-container">

        </div>

        <!-- 이미지 추가를 위한 버튼 -->
        <div class="submit-button-wrapper">
            <button id="submitPost" class="button">게시글 수정</button>
        </div>
    </div>

</div>

<!-- Footer Fragment Include -->
<div th:replace="layout/footer :: footer"></div>

<script src="/javascript/board/edit.js"></script>
<script src="/javascript/layout/header.js"></script>
<script src="/javascript/layout/footer.js"></script>
</body>
</html>
