<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>설문조사 목록</title>
    <link rel="stylesheet" href="/css/mypage-common.css"> <!-- 공통 스타일 적용 -->
    <link rel="stylesheet" href="/css/survey/survey-list.css"> <!-- 공통 스타일 적용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/axios.js"></script>
</head>
<body>
    <!-- Header Fragment Include -->
    <div th:replace="layout/mypage-header :: header"></div>

    <!-- Main Content -->
    <div class="main-content">

        <div class="container">
            <h1 class="title">설문조사 목록</h1>
            <button id="createSurveyBtn" class="button create-button">새 설문조사 등록</button>

            <!-- 게시판 스타일 리스트 -->
            <div id="surveyList" class="survey-list">
                <!-- 설문조사 카드가 여기에 동적으로 추가됩니다 -->
            </div>
        </div>

    </div>

    <!-- Footer Fragment Include -->
    <div th:replace="layout/mypage-footer :: footer"></div>

</body>
</html>
<!-- 차트 스크립트 -->
<script src="/javascript/survey/survey-list.js"></script>
