/* header.css */
.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    /*width: 400px;*/
}

.header-right {
    display: flex;
    align-items: center;
}

.auth-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.auth-links a:hover {
    text-decoration: underline;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.main-nav a:hover {
    color: #007bff;
}

/* main */
body {
    font-family: 'Noto Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    width: 100%;
}

header.main-header, footer.main-footer {
    /*width: 100%;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

footer.main-footer {
    border-top: 1px solid #ddd;
    padding: 20px;
    color: #555;
    text-align: center;
}

/* 최소 화면 크기 설정 */
.main-content, header.main-header, footer.main-footer {
    min-width: 320px;
}


/* footer.css */
.main-footer {
    background-color: #f1f1f1;
    padding: 20px;
    color: #555;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin: 5px 0;
}

.footer-column a {
    text-decoration: none;
    color: #000000;
}

.footer-bottom {
    font-size: 14px;
    color: #777;
}
