.payment-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.payment-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* 결제 내역 리스트 */
.payment-list {
    list-style: none;
    padding: 0;
}

/* 개별 결제 항목 */
.payment-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.payment-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.payment-info {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.payment-cost {
    font-weight: bold;
    font-size: 16px;
    color: #ff4500;
}

.no-data-message{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-top: 50px;
}