<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/cms/sidebar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<!-- 🟢 사이드바 프래그먼트 정의 -->
<div class="side_bar" th:fragment="side_menu">
    <th:block th:if="${session.user.username == null}">
        <script>
            alert("로그인이 필요합니다.");
            window.location.href = "/login"; // 로그인 페이지로 이동
        </script>
    </th:block>
    <div class="logo">
        <img src="../images/logo.png">
    </div>
    <div class="profile">
        <img th:src="${session.profileImage}" alt="프로필 이미지">
        <div class="user_info">
            <div class="user_id" th:text="${session.user.nickname}"></div>
            <div class="department">디지털 사업부</div>
        </div>
    </div>

    <ul class="main-menu">
        <li>
            <a href="/cms/">뉴스 룸</a>
            <ul class="sub-menu">
                <li><a href="/cms/regist">기사 작성</a></li>
                <li><a href="/cms/news_List">기사 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#">뉴스 데스크</a>
            <ul class="sub-menu">
                <li><a href="/cms/regist">기사 작성</a></li>
                <li><a href="/cms/news_List">기사 관리</a></li>
            </ul>
        </li>
        <li><a href="#">독자 투고</a></li>
        <li><a href="#">통계</a></li>
        <li><a href="#">WCMS</a></li>
    </ul>
</div>
</body>
</html>
