<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chosunnext.dao.BookmarkDao">

    <insert id="insertBookMark">
        INSERT INTO tbl_bookmark (bookmark_id, news_id, user_id, bookmark_date)
        VALUES (#{bookmarkId}, #{newsId}, #{userId}, NOW());
    </insert>

</mapper>