<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chosunnext.dao.BookmarkDao">

    <insert id="insertBookMark">
        INSERT INTO tbl_bookmark (news_id, user_id, bookmark_date, bookmarked)
        VALUES (#{newsId}, #{userId}, NOW(), #{bookmarked})
        ON DUPLICATE KEY UPDATE bookmarked = #{bookmarked}, bookmark_date = NOW();
    </insert>
    
    <update id="updateBookMark">
        UPDATE tbl_bookmark
        SET bookmarked = #{bookmarked}
        WHERE news_id = #{newsId} AND user_id = #{userId};
    </update>
</mapper>