<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chosunnext.dao.NewsDao">

    <insert id="insertNews" useGeneratedKeys="true" keyProperty="newsId">
        INSERT INTO tbl_news
        (user_id, title, sub_title, main_category_cd, sub_category_cd, content, credate_dt, update_dt, writer, news_type, reservation_time)
        VALUES
        (
        #{userId},
        #{title},
        #{subTitle},
        #{mainCategoryCd},
        #{subCategoryCd},
        #{content},
        NOW(),
        NOW(),
        #{writer},
        #{newsType},
        <if test="reservationTime != null and reservationTime != ''">
            #{reservation_time}
        </if>
        <if test="reservationTime == null or reservationTime == ''">
            NULL
        </if>
        );
    </insert>

    <select id="getAllList" resultType="com.example.chosunnext.dto.NewsDto">
        SELECT *
        FROM tbl_news
        ORDER BY credate_dt DESC
    </select>



    <select id="findNewsById" resultType="com.example.chosunnext.dto.NewsDto">
        SELECT * FROM tbl_news WHERE news_id = #{newsId}
    </select>



    <update id="updateNews" parameterType="com.example.chosunnext.dto.NewsDto">
        UPDATE tbl_news
        SET
        title = #{title},
        sub_title = #{subTitle},
        content = #{content},
        reservation_time =
        <if test="reservationTime != null and reservationTime !=''">
                #{reservationTime}
        </if>
        <if test="reservationTime == null or reservationTime ==''">
            null
        </if>,
        news_type = #{newsType},
        main_category_cd = #{mainCategoryCd},
        sub_category_cd = #{subCategoryCd},
        writer = #{writer},
        update_dt = NOW()
        WHERE news_id = #{newsId}
    </update>


    <delete id="deleteNews">
        delete from tbl_news
        where news_id =#{newsId}
    </delete>

    <select id="getTotalCount" resultType="int">
        select count(*)
        from tbl_news
    </select>


    <select id="getPageNews" resultType="com.example.chosunnext.dto.NewsDto">
        SELECT  *
        FROM tbl_news
        ORDER BY credate_dt DESC
        LIMIT #{size} OFFSET #{offset}
    </select>


    <select id="getCategoryNews" resultType="com.example.chosunnext.dto.NewsDto">
        SELECT n.*,
            f.file_name AS fileName,
            f.file_url AS filePath,
            c.cd_kor AS categoryName,
            parent_c.cd_kor AS parentCategoryName -- 부모 카테고리명 추가
        FROM tbl_news n
        LEFT JOIN (
            SELECT f.file_ref_id, f.file_name, f.file_url
            FROM tbl_file f
            WHERE f.file_gbn_cd = 100  -- 대표 이미지 유형 코드
            ORDER BY f.inst_dt DESC
        ) f ON n.news_id = f.file_ref_id
        LEFT JOIN tbl_codeinfo c ON n.main_category_cd = c.cd -- main_category_cd와 일치하는 cd 가져옴
        LEFT JOIN tbl_codeinfo parent_c ON c.parent_cd = parent_c.cd -- 부모 코드의 한글명 가져옴
        WHERE n.main_category_cd = #{category}
        ORDER BY n.update_dt DESC
        LIMIT #{size} OFFSET #{offset};
    </select>

    <select id="getSubCategoryNews" resultType="com.example.chosunnext.dto.NewsDto">
        SELECT n.*,
            f.file_name AS fileName,
            f.file_url AS filePath,
            mc.cd_kor AS categoryName,
            sc.cd_kor AS subCategoryName,
            parent_mc.cd_kor AS parentCategoryName
        FROM tbl_news n
        LEFT JOIN (
            SELECT f.file_ref_id, f.file_name, f.file_url
            FROM tbl_file f
            WHERE f.file_gbn_cd = 100
            ORDER BY f.inst_dt DESC
        ) f ON n.news_id = f.file_ref_id
        LEFT JOIN tbl_codeinfo mc ON n.main_category_cd = mc.cd
        LEFT JOIN tbl_codeinfo parent_mc ON mc.parent_cd = parent_mc.cd
        LEFT JOIN tbl_codeinfo sc ON n.sub_category_cd = sc.cd
        WHERE n.sub_category_cd = #{subCategory}
        ORDER BY n.update_dt DESC
        LIMIT #{size} OFFSET #{offset}
    </select>


    <select id="countNewsByCategory" resultType="int">
        SELECT COUNT(*) FROM tbl_news WHERE main_category_cd = #{category}
    </select>

    <select id="countNewsBySubCategory" resultType="int">
        SELECT COUNT(*) FROM tbl_news WHERE sub_category_cd = #{category}
    </select>

    <update id="updateImageSrc">
        UPDATE tbl_news
            SET content = REPLACE(content, #{blob}, #{url})
        WHERE news_id = #{newsId};
    </update>

    <select id="getNews" resultType="com.example.chosunnext.dto.NewsDto">
        select *
        from tbl_news where news_id = #{newsId}
    </select>


</mapper>
