<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chosunnext.dao.ReporterDao">

    <select id="getReporterDto" resultType="com.example.chosunnext.dto.user.response.ResponseReporterDto">
        SELECT u.user_id, u.name, u.role, r.department
        FROM tbl_user u
        JOIN tbl_report_info r ON u.user_id = r.user_id
        WHERE u.role = 'REPORTER'
    </select>



</mapper>
