<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chosunnext.dao.SurveyDao">

    <insert id="insertSurveyTitle" useGeneratedKeys="true" keyProperty="titleId">
        INSERT INTO tbl_survey_title (title, content)
        VALUES
        (#{title}, #{content})
    </insert>

    <insert id="insertSurveyQuestion" useGeneratedKeys="true" keyProperty="surveyId">
        INSERT INTO tbl_survey_question (title_id, content, type)
        VALUES
        (#{titleId}, #{content}, #{type})
    </insert>

    <insert id="insertSurveyOptions">
        INSERT INTO tbl_survey_option (survey_id, content)
        VALUES
        <foreach collection="options" item="option" separator=",">
            (#{surveyId}, #{option.content})
        </foreach>
    </insert>
    
    <select id="getSurveyList" resultType="com.example.chosunnext.dto.survey.response.SurveyTitleResponseDto">
        SELECT * FROM tbl_survey_title
    </select>

    <delete id="deleteSurvey">
        DELETE FROM tbl_survey_title WHERE title_id = #{surveyId}
    </delete>

    <select id="getSurvey" resultType="com.example.chosunnext.dto.survey.response.SurveyTotalResponseDto">
        SELECT
            s.title_id,
            s.title,
            s.content,
            q.survey_id,
            q.content AS surveyContent,
            q.type,
            o.option_id,
            o.content AS optionContent
        FROM tbl_survey_title s
            LEFT JOIN tbl_survey_question q ON s.title_id = q.title_id
            LEFT JOIN tbl_survey_option o ON q.survey_id = o.survey_id
        WHERE s.title_id = #{titleId}
    </select>

    <update id="updateSurveyTitle">
        UPDATE tbl_survey_title SET
            title = #{title},
            content = #{content}
        WHERE title_id = #{titleId}
    </update>

    <select id="getQuestionByTitleId" resultType="com.example.chosunnext.dto.survey.response.QuestionResponseDto">
        SELECT * FROM tbl_survey_question WHERE title_id = #{titleId}
    </select>

    <update id="updateQuestion">
        UPDATE tbl_survey_question SET
            content = #{question.content},
            type = #{question.type}
        WHERE survey_id = #{question.surveyId}
    </update>

    <select id="getOptionBySurveyId" resultType="com.example.chosunnext.dto.survey.response.OptionResponseDto">
        SELECT * FROM tbl_survey_option WHERE survey_id = #{surveyId}
    </select>

    <update id="updateOption">
        UPDATE tbl_survey_option SET
            content = #{option.content}
        WHERE option_id = #{option.optionId}
    </update>

    <insert id="insertOption">
        INSERT INTO tbl_survey_option (survey_id, content)
        VALUES (#{option.surveyId}, #{option.content})
    </insert>

    <delete id="deleteQuestion">
        DELETE FROM tbl_survey_question
        WHERE survey_id = #{surveyId}
    </delete>

    <delete id="deleteOption">
        DELETE FROM tbl_survey_option
        WHERE option_id = #{optionId}
    </delete>

    <insert id="insertSurveyResult" useGeneratedKeys="true" keyProperty="resultId">
        INSERT INTO tbl_survey_result (title_id, participant)
        VALUES (#{result.titleId}, #{result.userId})
    </insert>

    <insert id="insertSurveyOptionResult">
        INSERT INTO tbl_survey_result_questions (result_id, survey_id, content)
        VALUES (#{option.resultId}, #{option.surveyId}, #{option.content})
    </insert>

</mapper>