<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chosunnext.dao.UserDao">

    <select id="getUserDto" resultType="com.example.chosunnext.dto.user.response.ResponseUserDto">
        SELECT * FROM tbl_user WHERE user_id = #{userId}
    </select>

    <select id="checkId" resultType="Integer">
        SELECT COUNT(*) FROM tbl_user WHERE user_id = #{userId}
    </select>

    <insert id="signup">
        INSERT INTO tbl_user (user_id, email, password, nickname)
        VALUES
        (#{userId}, #{userId}, #{password}, #{nickname})
    </insert>

</mapper>